body {

  background: #d1defa;
  font-family: sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;

}

.layout {

  width: 100%;
  height: auto;

  display: grid;
  grid-template-areas: "header header header header"
                       "nav    nav    nav    nav"
                       "contenido contenido contenido lateral"
                       "footer footer footer footer";
  grid-template-rows: 90px 70px auto 70px;

}

.layout h1{
    font-family: 'Montserrat Subrayada', sans-serif;
    text-shadow: -2px 1px 1px rgba(0, 0, 145, 0.437);
}

/*------------------------HEADER---------------------------*/

.header{
  display: flex;
  justify-content: center;
  grid-area: header;
  background: white;
  text-align: left;
}

.logo{

  background: linear-gradient(90deg, #03228f 10%, #0e73e4 100%);
  width: 40px;
  height: 40px;
  border-radius: 300px;
  margin-top: 30px;
}

.play{

  width: 0px;
  height: 0px;
  margin-top: 15px;
  margin-left: 16px;
  border-left: 12px solid white;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;

}

.header h1 {

  margin-left: 15px;
  margin-top: 30px;
}

/*------------------------NAV---------------------------*/

.nav {
  background: #011661;
  grid-area: nav;
}

.nav > ul{

  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav li {

  padding: 10px;

}

.nav a{
  display: block;
  text-decoration: none;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  font-size: 18px;
  font-weight: lighter;
  transition: all .3s ease;
}

.nav a:hover{
  transform: scale(1.1,1.1);
}



/*------------------------CONTENIDO---------------------------*/
.content{
  grid-area: contenido;
  background: rgb(245, 245, 245);
  border: 1px solid rgb(187, 187, 187);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.peli-item {
  flex-grow: 1;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #ddd;
  margin: 20px;
  padding: 60px 25px;

}

button, 
input[type="submit"],
input[type="button"]{
  width: 90px;
  background: #0b70e1;
  border: none;
  outline: 0;
  padding: 15px;
  border-radius: 3px;
  margin-top: 15px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all .3s ease;
  color: white;
}

.peli-item .edit{

    margin-right: 7px;

}

.edit:hover{

  background-color: #e4881e;
}

.edit:active{

  background-color: white;
  color: #0b70e1;
  border: .1px solid #0b70e1;
}

.delete:hover{

  background-color: #ac1010;

}

.delete:active{

  background-color: white;
  color: #0b70e1;
  border: .1px solid #0b70e1;

}
/*------------------------ASIDE---------------------------*/

.lateral{
  grid-area: lateral;
  background: rgb(245, 245, 245);
  border-left: 1px solid #ddd;
}

.lateral > div {

  box-sizing: border-box;
  width: 90%;
  margin: 20px;
  padding: 20px;
  padding-top: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #ddd;
}

.lateral input[type="text"],
.lateral input[type="text"],
.lateral textarea{

  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding: 12px;
  border-radius: 5px;
  background: #f6f7f9; 
  color: #454545;    
  width: 80%;
  opacity: 4;
  outline: 0;
  border-color: transparent;
  transition: all .3s ease;
}

.lateral input:focus {

  background: #dedede;

}

.lateral textarea:focus {

  background: #dedede;

}

/*------------------------BUSCADOR---------------------------*/

.no-encontrado {

  color: #ac1010;
}

/*------------------------FORM EDITAR---------------------------*/

.edit_form{

  display: block;

}

.descripcion_editada, 
.titulo_editado{

  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding: 12px;
  border-radius: 5px;
  background: #f6f7f9; 
  color: #454545;    
  width: 80%;
  opacity: 4;
  outline: 0;
  border-color: transparent;
  transition: all .3s ease;

}

.edit_form input[type="submit"]{

  width: 100px;
}

.edit_form input[type="submit"]{

    margin-right: 7px;

}

.edit_form input[type="submit"]:hover{

  background-color: rgb(2, 118, 2);
}

.edit_form input[type="submit"]:active{

  background-color: white;
  color: #0b70e1;
  border: .1px solid #0b70e1;
}


/*------------------------FOOTER---------------------------*/


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  background: #011661;
  color: #454545;
  border-top: 1px solid white;
  text-align: letf;
  line-height: 68px;
  padding-left: 25px;
  height: 70px;

}

.footer p {

  color: white;
  font-weight: bold;
}

@media (max-width: 1085px){

  .content{
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
  }
  .peli-item{

      width: 70%;
  }

}